UAZAPI_URL=
UAZAPI_TOKEN=
OPENAI_API_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
MP_ACCESS_TOKEN=
MP_WEBHOOK_URL=https://seudominio.com/api/webhook/pagamento
UAZAPI_WEBHOOK_URL=https://seudominio.com/api/webhook/whatsapp
